[Unit]
Description=Photo Frame GTK service file
After=graphical-session.target

[Service]
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/python3 /home/hpi/photo_frame_gtk/photoframegtk.py

User=hpi

[Install]
WantedBy=graphical-session.target
