[Unit]
Description=Photo Frame GTK service file
After=network.target

[Timer]
OnActiveSec=2min

[Service]
ExecStart=/usr/bin/python3 /home/hpi/photo_frame_gtk/photoframegtk.py
Restart=always
User=root
Group=root


[Install]
WantedBy=multi-user.target
